<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Medical Center</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'home' %}">New Consultation</a>
        <a class="nav-link" href="{% url 'add_patient' %}">Register Patient</a>
        <a class="nav-link" href="{% url 'home' %}">Patient's History</a>
        <a class="nav-link" href="{% url 'add_category' %}">Category</a>
        <a class="nav-link" href="{% url 'add_medicine' %}">Medicine</a>
        <a class="nav-link" href="{% url 'add_purchase' %}">Add Purchase</a>
        <a class="nav-link" href="{% url 'home' %}">Reports</a>
          <a class="nav-link" href="{% url 'register' %}">Register User</a>

        
          <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="nav-link" href="{% url 'home' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>